
@keyframes fa-spin{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}
.fa-spin{
        animation: fa-spin 2s linear infinite;
}

.muhPanel{
   
}

.muhPanel-current-tracker.open{
    height: 100vh !important;
    max-height: 100vh !important;
}

.muhPanel-current-tracker
.muhPanel-contentScroll{
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 63px);
}


.muhPanel.open{
    display: block; 
}

.muhPanel textarea{
    height: auto;
    resize: none;
}

.muhPanel button:not(.menu_button ){
   background: none;
   color: inherit;
   border: none;
   padding: 0;
   font: inherit;
   cursor: pointer;
   outline: inherit;
   text-align: inherit;
   display: block;
}

.muhPanel-headline{
    align-items: center;
}

.muhPanel-headline > *{
    display: block;
}

.muhPanel-pin input,
.muhPanel-pin .checked,
.muhPanel-pin .unchecked{
    display: none;
}

#muhPanel_pin:not(:checked)+label .unchecked{
    display: inline;
}

#muhPanel_pin:checked+label .checked{
    display: inline;
}




.muhPanel button.muhPanel-personHead{
    display: flex;
    width: 100%;
    gap: 1em;
    padding: .5em;
    border-radius: 10px;
    

}

button.muhPanel-personHead:hover{    
    background-color: var(--white30a);
}

.muhPanel-personHead-content{
    display: flex;
    flex-direction: row;
    min-height: 50px;
    flex: 1 1 auto;
    width: 100%;
}

.muhPanel-personHead-name{
    font-weight: bold;
    margin-bottom: auto;
}



.muhPanel-contentScroll{
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 148px);
}

.muhPanel-viewHeadline{
    display: flex;
    gap: 1em;
    /* padding: .5em 0; */
    align-items: baseline;
     font-size: 1.17em;
     margin-bottom: 10px;
     padding-left: 3px;
}

.muhPanel-viewHeadline button{
}

.muhPanel button[data-id="drag"]{
    pointer-events: none;
}

.muhPanel  .ui-sortable-placeholder{
    height: 50px;
}


.muhPanel-sliderNum{
    display: flex;
    gap: 0;
    align-items: center;
    /* flex-flow: column; */
    /* flex-direction: column; */
    /* flex: 1 1 auto; */
    /* flex-wrap: nowrap; */
    max-width: 49%;
}


.muhPanel-sliderNum input[type="range"]{
    appearance: none !important;
    margin: 0 !important;
    margin-top: 7px !important;
    padding: 0 !important;
    width: 100% !important;
    height: 5px !important;
    background: var(--SmartThemeBodyColor) !important;
    border-radius: 7px 7px 0 0 !important;
    background-size: 70% 100% !important;
    background-repeat: no-repeat !important;
    box-shadow: inset 0 0 2px var(--black50a) !important;
    cursor: ew-resize !important;
}
.muhPanel-sliderNum input[type="number"]{
    display: block;
    cursor: text;
    background-color: var(--black30a);
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 0 0 5px 5px;
    padding: 2px;
    padding-left: 1em;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}




/* 
.tracker-editor-modal{
display:none !important;
} */

#chat .mes:not([ch_name="Narrator"]){
    padding-bottom: calc((var(--mainFontSize) * +1.7) + 5px) !important;
}


#chat .mes.smallSysMes{
    text-align: left !important;
}

#chat .mes.smallSysMes .mes_text{
    text-align: left !important;
}

#chat .mes[ch_name="Narrator"]{
    margin-top: calc((var(--mainFontSize) * -1.7) - 5px);
    background: none !important;
    border: 0;
    padding: 0 !important;
}
