<div class="muhPanel-viewHeadline">
    <div>{{viewHeadline}}</div>
</div>

<section class="muhPanel-contentScroll">
    @if(personsSignal().length>0){

          @for (person of personsSignal(); let index = $index; track index; ) {
            @if(person){
                <button class="muhPanel-personHead" type="button" (click)="openListView(person, index)">
                    <div class="avatar">
                        <img [src]="person.avatar" alt="Avatar">
                    </div>
                    <div class="muhPanel-personHead-content">
                        <div class="muhPanel-personHead-name">{{ person.name }}</div>
                    </div>
                    <div>
                        @if (person.isUser) {
                            <i class="fa-solid fa-user"></i>
                        }
                    </div>
                </button>
            }
        } 
    }
</section>