
<h3 class="muhPanel-headline flex1 flex-container alignItemsCenter gap5px m-b-1">
    <div class="muhPanel-pin" title="Locked = {{headline}} panel will stay open" >
        <input id="muhPanel_pin" type="checkbox" >
        <label for="muhPanel_pin">
            <div class="unchecked fa-solid fa-unlock right_menu_button"></div>
            <div class="checked fa-solid fa-lock right_menu_button"></div>
        </label>
    </div>
    <div>{{headline}}</div>
    <div class="inline-drawer-maximize" style="margin-left: auto;">
        <i class="floating_panel_maximize fa-fw fa-solid fa-window-maximize"></i>
    </div>
    <div class="fa-fw fa-solid fa-circle-xmark floating_panel_close"></div>
</h3>s


<div class="muhPanel-content">
    @if (panel.hasActiveChat()) {
        @if (panel.view() === 'list') {
            <panel-list></panel-list>
        } @else if (panel.view() === 'detail') {
            <panel-detail></panel-detail>
        }
    }@else{
        <div style="text-align: center;">
            <small >No function without active chat</small>
        </div>
    }
</div>