<h3 class="muhPanel-headline flex1 flex-container alignItemsCenter gap5px m-b-1">
    <div class="muhPanel-pin" title="Locked = {{headline}} panel will stay open" >
        <input id="muhPanel_pin" type="checkbox" >
        <label for="muhPanel_pin">
            <div class="unchecked fa-solid fa-unlock right_menu_button"></div>
            <div class="checked fa-solid fa-lock right_menu_button"></div>
        </label>
    </div>
    <div>{{headline}}</div>
    <div class="inline-drawer-maximize" style="margin-left: auto;">
        <i class="floating_panel_maximize fa-fw fa-solid fa-window-maximize"></i>
    </div>
    <div class="fa-fw fa-solid fa-circle-xmark floating_panel_close"></div>
</h3>



<div class="muhPanel-contentScroll">
    @if(tracker()?.fields) {
        @let trackerData = asArray(tracker().fields);

        <dl>
            @for (entry of trackerData; track entry.key; ) {
                @if(entry.key !== "characters" && entry.key !== "characterspresent"){


                    @if(entry.type === "array"){
                        <!-- <tracker-edit-field [(field)]="entry"></tracker-edit-field>     -->
                    }@else{
                        <dt>{{ entry.key }}</dt>
                        <dd>{{ entry.value }}</dd>
                    }
                }
            }
        </dl> 


   

        @for (entry of trackerData;track entry.key; ) {
            @if(entry.key == "characters"){
                @for (character of asArray(entry.value); let index = $index; track index; ) {
                    <div class="charName">{{ character.key }}</div>
                    <hr>
                    @for (chardata of asArray(character.value); let index = $index; track index; ) {
                        <dt>{{ chardata.key }}</dt>
                        <dd>{{ chardata.value }}</dd>
                    }
                }
            }
        } 
     }
</div>