<div id="muhPanel_currentTask">
    
    <div class="flex-container m-t-1  m-b-1" >
        <label for="muhPanel_currentTask_description" class="" style="display: block;margin-bottom: 5px;font-weight: bold;">
        Current Task
        </label>
        <textarea id="muhPanel_currentTask_description"  class="" resize="false" style="order: 2; resize: none;"">{{task.description}}</textarea>

    </div>
    

    <div id="muhPanel_currentTask_sliders" class="flex-container m-b-1"></div>
      <!-- <div class="flex-container m-b-1">
        {{#each sliders}}
            <div id="{{id}}" class="muhPanel-sliderNum">
                <label>{{label}}</label>
                <input type="range" min="{{min}}" max="{{max}}" step="1" {{#if disabled}} disabled{{/if}}>
                <input type="number" min="{{min}}" max="{{max}}" step="1" {{#if disabled}} readonly{{/if}}>
                <small>{{{desc}}}</small>
            </div>
        {{/each}}
    </div> -->
    
    
    <div class="flex-container gap10px m-t-1  m-b-1" >
        {{#each aiPromptbtns}}
            <button id="{{id}}" class="menu_button menu_button_icon interactable" >
                <i class="fa-solid fa-{{icon}}"></i> {{label}}
            </button>
        {{/each}}
    </div>

    <div id="muhPanel_currentTask_save"></div>
</div>
