@if(tracker() && tracker().location){

    
    <div class="fullView">
         <hr>
        <!-- <div class="right">
            <dl>
                @for (entry of trackerFieldAry; let index = $index; track index; ) {

                    <dt>{{ entry }}</dt>
                    @if(entry == "location"){
                        <dd  contenteditable="true" (focus)="onFocus([entry],$event)" (blur)="onChange([entry],$event, true)" [innerHtml]="replace(tracker()[entry])"></dd>
                        
                    }@else{
                        <dd  contenteditable="true"   (blur)="onChange([entry],$event)">{{ tracker()[entry] }}</dd>
                    }
                    
                }
                </dl>
        </div>
        <div class="sep"></div> -->
        
        <div class="left">
            <dl>
                @for (entry of trackerFieldAry; let index = $index; track index; ) {

                    <dt>{{ entry }}</dt>
                    @if(entry == "location"){
                        <dd  contenteditable="true" (focus)="onFocus([entry],$event)" (blur)="onChange([entry],$event, true)" [innerHtml]="replace(tracker()[entry])"></dd>
                        <!-- dddd {{ replace(tracker()[entry]) }} sss -->
                    }@else{
                        <dd  contenteditable="true"   (blur)="onChange([entry],$event)">{{ tracker()[entry] }}</dd>
                    }
                    
                }
                </dl>

            @for (character of tracker().characterspresent; let index = $index; track index; ) {

                <div class="charName">{{ character }}</div>
                <hr>
                <dl>
                @for (characterEtry of entries(tracker().characters[character]); let index = $index; track index; ) {
                <!-- {{ log(characterEtry) }} -->
                    <dt>{{ characterEtry.key }}</dt>
                    <dd contenteditable="true" (blur)="onChange(['characters', character, characterEtry.key],$event)">{{ characterEtry.value }}</dd>

                } 
                </dl>
            <!--    <dd>{{ character }}</dd> -->

            } 
        </div>
    </div>
   
    

}
